<style scoped lang='less'>
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  height: 13vw;
  z-index: 999;
  line-height: 13vw;
  p {
    // width: 15vw;
    font-size: 5vw;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .head {
    // margin-left: 2vw;
    color: #fff;
    font-size: 5vw;
    span {
      width: 20vw;
      font-size: 5vw;
      color: #fff;
    }
    img {
      margin-top: 2vw;
      width: 8vw;
      height: 9vw;
    }
  }
  .right {
    margin-right: 2vw;
    img {
      margin-top: 2vw;
      width: 8vw;
      height: 8vw;
    }
  }
}
</style>
<template>
  <div>
    <div class="header_top flex-sb"
         v-if="typeIndex==1">
      <div class="head flex"
           @click="address">
        <img src="../assets/fanhui.png">
        <span>返回</span>
      </div>
      <p>{{title}}</p>
      <div class="right">
        <img src="../assets/fangzi.png">
      </div>
    </div>
    <div class="header_top flex-sb"
         v-if="typeIndex==2">
      <div class="head flex"
           @click="secondary">
        <img src="../assets/fanhui.png">
        <span>返回</span>
      </div>
      <p>{{title}}</p>
      <div class="right">
        <img src="../assets/fangzi.png">
      </div>
    </div>
      <div class="header_top flex-sb"
         v-if="typeIndex==3">
      <div class="head flex"
           @click="maina">
        <img src="../assets/fanhui.png">
        <span>返回</span>
      </div>
      <p>{{title}}</p>
      <div class="right">
        <!-- <img src="../assets/fangzi.png"> -->
      </div>
    </div>
    <div class="header_top flex-sb"
         v-if="typeIndex==4">
      <div class="head flex"
           @click="personagea">
        <img src="../assets/fanhui.png">
        <span>返回</span>
      </div>
      <p>{{title}}</p>
      <div class="right">
        <!-- <img src="../assets/fangzi.png"> -->
      </div>
    </div>
     <div class="header_top flex-sb"
         v-if="typeIndex==5">
      <div class="head flex"
           @click="withdraw">
        <img src="../assets/fanhui.png">
        <span>返回</span>
      </div>
      <p>{{title}}</p>
      <div class="right">
        <!-- <img src="../assets/fangzi.png"> -->
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    typeIndex: {
      type: Number,
      default: 0
    }
  },
  components: {},
  title: '',
  data () {
    return {}
  },
  mounted () { },
  methods: {
    address () {
      this.$router.push('/address')
    },
    secondary(){
       this.$router.push('/address_secondary')
    },
    maina(){
       this.$router.push('/main')
    },
    personagea(){
      this.$router.push('/main_personagea')
    },
    withdraw(){
      this.$router.push('/main_wallet')
    }
  },
}
</script>