<style lang='less'>
.zhezhao {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(1, 1, 1, 0.2);
  z-index:2;
  min-height: 60.3rem;
  text-align: center;
  .yesnoa{
    margin-top: 20vw;
    font-size: 5vw;
    color: #fff;
  }
}
</style>
<template>
  <div class="zhezhao"
       v-if="visible">
    <div class="yesnoa">
     暂未开放
    </div>
  </div>
</template>
<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  components: {},
  title: '',
  data () {
    return {}
  },
  mounted () { },
  methods: {},
}
</script>