<style lang="less">
.main_personageb {
  width: 100%;
  background: #eee;
  height: 100vh;
  overflow-y: scroll;
  .personagetopb {
    height: 13vw;
  }
  .personage_bodyb {
    margin: 5vw 5vw;
    .persobodyb {
      width: 100%;
      height: 80vw;
      background: #fff;
      border-radius: 2vw;
      .persobodyab {
        padding: 0 3vw;

        .nameb {
          width: 100%;
          margin: 2vw auto;
          padding: 0.2vw 0;
          h4 {
            font-size: 5vw;
            margin: 3vw 0;
          }
          span {
            width: 29%;
            height: 10vw;
            margin: 1.5vw;
            font-size: 3vw;
            text-align: center;
            line-height: 10vw;
            background: #eee;
            border-radius: 1vw;
            display: inline-block;
            &.active {
              color: #d95125;
              background: #ff8282;
            }
          }
        }
      }
    }
    .personage_bottom {
      background: #fff;
      height: 26vw;
      width: 100%;
      margin: 3vw 0;
      border-radius: 2vw;
      padding: 2vw 0;
      .briefa {
        margin: 0 2vw;
        h5 {
          margin-top: 2vw;
        }
        textarea {
          margin-top: 2vw;
          width: 100%;
          height: 20vw;
          color: #ccc;
        }
      }
    }
    .personage_bt {
      width: 100%;
      height: 20vw;
      background: #fff;
      border-radius: 2vw;
      .personage_bta {
        width: 100%;
        margin: 0 3vw;
        padding: 1vw 0;
        .nama {
          margin: 2vw 0;
          p {
            font-size: 4vw;
          }
          input {
            margin-top: 2vw;
          }
        }
      }
    }
  }
  .foot {
    height: 22vw;
    background: #eee;
    .footera {
      margin: 0 10vw;

      button {
        margin-top: 1vw;
        border-radius: 2vw;
        width: 100%;
        height: 14vw;
        line-height: 14vw;
        background: #d95125;
        color: #fff;
        font-size: 5vw;
      }
    }
  }
}
</style>
<template>
  <div class="main_personageb">
    <div class="personagetopb">
      <headera :title="title" :typeIndex="4"></headera>
    </div>
    <div class="personage_bodyb">
      <div class="persobodyb">
        <div class="persobodyab">
          <div class="nameb">
            <h4>我的行业</h4>
            <span
              v-for="(item, index) in namelist"
              :key="index"
              :class="{ active: checkedGroup.indexOf(index) > -1 }"
              @click="switcher(index)"
              >{{ item.name }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="personage_bodyb">
      <div class="persobodyb">
        <div class="persobodyab">
          <div class="nameb">
            <h4>我的资源</h4>
            <span
              v-for="(item, index) in namelist"
              :key="index"
              :class="{ active: checkelist.indexOf(index) > -1 }"
              @click="swlist(index)"
              >{{ item.name }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <div class="footera">
        <button @click="servera">完成</button>
      </div>
    </div>
  </div>
</template>
<script>
import { Toast } from "vant";
import headera from "@/components/header";
export default {
  components: {
    headera,
    Toast
  },
  data() {
    return {
      title: "个人信息",
      avatarUrl: "",
      checkedGroup: [],
      checkelist:[],
      namelist: [
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        },
        {
          name: "IT前端"
        }
      ]
    };
  },
  mounted() {},
  methods: {
    servera() {
      this.$router.push("/main");
    },
    switcher(index) {
      if (this.checkedGroup.indexOf(index) > -1) {
        var spliceIndex = this.checkedGroup.indexOf(index);
        this.checkedGroup.splice(spliceIndex, 1);
      } else {
        if (this.checkedGroup.length <= 2) {
          if (this.checkedGroup.indexOf(index) == -1) {
            this.checkedGroup.push(index); //实现第一种效果只需要这句代码  实现第二种效果就要加上外面的判断条件
            console.log("123", this.checkedGroup);
          } else {
            var spliceIndex = this.checkedGroup.indexOf(index);
            this.checkedGroup.splice(spliceIndex, 1);
          }
        }
        else {
          Toast("最多只能选择三个哦！");
        }
      }
    },
    swlist(index){
        if (this.checkelist.indexOf(index) > -1) {
        var spliceIndex = this.checkelist.indexOf(index);
        this.checkelist.splice(spliceIndex, 1);
      } else {
        if (this.checkelist.length <= 2) {
          if (this.checkelist.indexOf(index) == -1) {
            this.checkelist.push(index); //实现第一种效果只需要这句代码  实现第二种效果就要加上外面的判断条件
            console.log("123", this.checkelist);
          } else {
            var spliceIndex = this.checkelist.indexOf(index);
            this.checkelist.splice(spliceIndex, 1);
          }
        }
        else {
          Toast("最多只能选择三个哦！");
        }
      }
    }
  }
};
</script>
