<style lang='less'>
.page_particulars {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #eee;
  .hader {
    height: 13vw;
  }
  .particulars_main {
    background: #fc2f46;
    height: 95vw;
    text-align: center;
    padding: 0 5vw;
    p {
      margin-top: 2vw;
      color: #fff;
      font-size: 3.7vw;
    }
    .maintop {
      width: 25vw;
      margin: 0 auto;
      position: relative;
      padding-top: 3vw;
      img {
        border-radius: 50%;
        width: 22vw;
        height: 22vw;
      }
      span {
        width: 4vw;
        height: 4vw;
        margin-top: -4vw;
        margin-left: 15vw;
        background: url("../../assets/icon-vip-1.png") no-repeat;
        background-size: 100%;
        position: absolute;
        top: 25vw;
        left: 0vw;
      }
    }
    .introduce {
      margin-top: 4.7vw;
      width: 100%;
      height: 42.99vw;

      .introduce_top {
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        height: 42.99vw;
        background: #2d2a20;
        padding: 2vw 2vw;
        text-align: left;
        h4 {
          color: #fff;
          &:first-child {
            color: #e1ca95;
          }
        }
        p {
          color: #e1ca95;
        }
        .referral {
          color: #fff;
          padding: 2vw 1vw;
        }
      }
    }
  }
  .introduce_bottom {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    margin: 0 5vw;
    height: 42vw;
    background: #fff;

    text-align: left;

    .specific {
      padding: 2vw 2vw;
      height: 6vw;
      border-bottom: 1px solid #eee;
    }
    .specif {
      margin: 3vw 2vw;
      span {
        color: #e1ca95;
        display: block;
        margin-bottom: 2vw;
      }
      i {
        margin: 0 1vw;
        width: 100%;
        overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
      }
    }
  }
  .foter {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 12vw;
    width: 100%;
    background: #fff;
    text-align: center;
    line-height: 12vw;
    .footer {
      width: 50%;
      img {
        width: 5vw;
        height: 4vw;
        margin-top: 4vw;
        margin-left: 12vw;
      }
      p {
        color: #d95125;
        margin-left: 2vw;
      }
    }
    .footera {
      width: 50%;
      img {
        width: 5vw;
        height: 4vw;
        margin-top: 4vw;
        margin-left: 15vw;
      }
      p {
        color: #d95125;
        margin-left: 2vw;
      }
    }
    i {
      height: 9vw;
      width: 0.6vw;
      background: #eee;
      margin-top: 1vw;
    }
  }
}
</style>
<template>
  <div class="page_particulars">
    <div class="hader">
      <headera :title="title"
               :typeIndex='2'></headera>
    </div>
    <div class="particulars_main">
      <div class="maintop">
        <img src="../../assets/default.jpg">
        <span></span>
      </div>
      <div>
        <p>黄建锋</p>
        <p>浙江省-嘉兴市</p>
        <p>第23428位会员</p>
      </div>
      <div class="introduce">
        <div class="introduce_top">
          <h4>行业/资源</h4>
          <h4>#电子商务#</h4>
          <p>个人介绍</p>
          <div class="referral">
            成立于2017年为中小型成立于2017年为中小型成立于2017年为中小型成立于2017年为中小型成立于2017年为中小型
          </div>

        </div>

      </div>

    </div>
    <div class="introduce_bottom">
      <div class="specific flex-sb">
        <p>合作微信</p>
        <p>合作微信</p>
      </div>
      <div class="specific flex-sb">
        <p>合作手机</p>
        <p>154654546454</p>
      </div>
      <div class="specif">
        <span>职位职务</span>
        <i>嘉兴中企视窗软件科技有限公司CEO</i>
      </div>

    </div>
    <div class="foter flex">
      <div class='footer flex'><img src="../../assets/icon-handshake.png">
        <p>交换联系方式</p>
      </div>
      <i></i>
      <div class='footera flex'><img src="../../assets/icon-contact.png">
        <p>联系TA</p>
      </div>
    </div>
  </div>
</template>
<script>
import headera from "@/components/header";
export default {
  components: {
    headera
  },

  data () {
    return {
      title: 'TA的名片',
    }
  },
  mounted () { },
  methods: {},
}
</script>
