<style lang="less">
.pages_address {
  width: 100%;
  // height: 100vh;
  // position: relative;
  overflow-y: scroll;
  .hadertop {
    margin: 0 0.5rem;
    .logo {
      width: 100%;
      height: 42vw;
      background: url("../../assets/banner-maillist.png") no-repeat;
      background-size: 100% 100%;
      p {
        width: 13.7vw;
        height: 20vw;
        padding-top: 29.2vw;
        margin: 0 auto;
        font-size: 4vw;
        letter-spacing: -2px;
      }
    }
    .server {
      .industry {
        height: 20vw;
        h3 {
          margin: 3vw 0;
          font-size: 4vw;
        }
        span {
          width: 100%;
          height: 10vw;
          line-height: 10vw;
          background: #eee;
          display: block;
          text-align: center;
          font-size: 3.5vw;
          color: #ccc;
        }
        /deep/.van-cell {
          padding: 0;
          .van-cell__value {
            .van-field__body {
              .van-field__control {
                width: 100%;
                height: 10vw;
                background: #eee;
                text-align: center;
                color: #ccc;
                font-size: 3vw;
              }
              // .van-field__right-icon {
              //   position: fixed;
              //   right: 20vw;
              //   .van-icon {
              //     &::before {
              //       // content: "";
              //     }
              //   }
              // }
            }
          }
        }
      }
      .region {
        height: 25vw;
        h3 {
          margin: 3vw 0;
          font-size: 4vw;
        }
        span {
          width: 48%;
          background: #eee;
          display: inline-block;
          height: 10vw;
          line-height: 10vw;
          text-align: center;
          font-size: 3vw;
          margin-right: 2vw;
        }
      }
      .resource {
        height: 60vw;
        .red {
          color: #d95125;
          background: #ff8282;
        }
        .black {
          background: #eee;
          color: #000;
        }
        h3 {
          margin: 3vw 0;
          font-size: 4vw;
        }
        span {
          width: 22%;
          height: 10vw;
          margin: 1.3vw;
          text-align: center;
          line-height: 10vw;
          background: #eee;
          border-radius: 1vw;
          display: inline-block;
          font-size: 3.2vw;
          &.active {
            color: #d95125;
            background: #ff8282;
          }
        }
      }
    }
  }
  .foot {
    height: 45vw;
    background: #f1f2f4;
    .footera {
      margin: 0 5vw;

      button {
        margin-top: 5vw;
        border-radius: 2vw;
        width: 100%;
        height: 14vw;
        line-height: 14vw;
        background: #d95125;
        color: #fff;
        font-size: 5vw;
      }
    }
  }
  .bottoma {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
</style>
<template>
  <div class="pages_address">
    <div class="hadertop">
      <div class="logo">
        <p>35929</p>
      </div>
      <div class="server">
        <div class="industry">
          <h3>按行业找人</h3>
          <span @click="showPicker = true">{{ columns[0] }}</span>
          <Popup v-model="showPicker" position="bottom">
            <picker
              show-toolbar
              :columns="columnsa"
              @cancel="showPicker = false"
              @confirm="onConfirm"
            />
          </Popup>
        </div>
        <div class="region">
          <h3>按地区找人</h3>
          <div class="flex">
            <span @click="whole">{{ region[0] }} ▼</span>
            <span @click="isshows">{{ region[1] }} ▼</span>
          </div>

          <Popup v-model="isshow" position="bottom">
            <Area
              :value="valuel"
              :area-list="area"
              :columns-num="2"
              @confirm="confirm"
            />
          </Popup>
        </div>
        <div class="resource">
          <h3>按资源找人</h3>
          <span
            v-for="(item, index) in demandList"
            :key="index"
            :class="{ active: checkedGroup.indexOf(index) > -1 }"
            @click="switcher(index)"
            >{{ item.name }}</span
          >
        </div>
      </div>
    </div>
    <div class="foot">
      <div class="footera">
        <button @click="server">搜索</button>
      </div>
    </div>
    <div class="bottoma">
      <tab></tab>
    </div>
    <!-- <login :Shrapnel="Shrapnel"></login> -->
  </div>
</template>
<script>
import {
  Picker,
  Popup,
  DropdownMenu,
  DropdownItem,
  Area,
  Toast,
  Field
} from "vant";
import tab from "@/components/tab";
import login from "@/components/login";
import area from "@/views/area";
export default {
  components: {
    tab,
    Picker,
    Popup,
    DropdownMenu,
    DropdownItem,
    Area,
    login,
    Toast,
    Field
  },
  title: "",
  data() {
    return {
      checkedGroup: [],
      changeRed: -1,
      // switcher: true,
      Shrapnel: true,
      area: area,
      isshow: false,
      // namelist: [],
      demandList: {},
      index: 0,
      value: "",
      valuel: "",
      showPicker: false,
      showPickera: false,
      columns: ["选择一个您关注的行业  ▼"],
      columnsa: [{text:"sadasd",id:'4564646'},{text:"sadasd",id:'4564646'}],
      region: ["全省", "全市"],
      regiona: "",
      switcherlist: []
    };
  },
  mounted() {
    this.indexa();
  },
  methods: {
    // 登录事件
    // formSubmit() {
    //   this.wxLogin();
    //   // this.$router.push("/address");
    //   this.Shrapnel = false;
    // },
    //  async wxLogin() {
    //   let data = await this.$req(window.api.wxLogin, {
    //     phone: this.phone,
    //     code: this.code
    //   });
    //   this.success = data.data.success;
    //   this.message = data.data.message;
    //   if (this.phone == "") {
    //     console.log("213123");

    //     Toast("请填写你的手机号");
    //   } else if (this.code == "") {
    //     Toast("请填写你的验证码");
    //   } else {
    //     console.log("wqe", data);
    //     Toast.loading({
    //       forbidClick: true,
    //       duration: 0
    //     });
    //     if (this.success == true) {
    //       Toast.clear();
    //     } else {
    //       Toast("手机号或验证码不正确");
    //     }
    //   }
    // },
    async indexa() {
      let data = await this.$req(window.api.indexa);

      this.demandList = data.data.result.demandList;
      this.industryList = data.data.result.industryList;
      console.log("4566666", this.industryList);
      // let columns = [];
      // for (let i = 0; i < this.industryList.length; i++) {
      //   this.columns.push({
      //     text:this.industryList[i].name,
      //     id:this.industryList[i].id
      //   });
      // }
      // console.log("1433223", this.columns);
    },
    // 行业找人
    onConfirm(value) {
      this.value = value;
      this.showPicker = false;
    },
    isshows(valuel) {
      // this.value = value;
      this.isshow = true;
    },
    whole(valuel) {
      this.isshow = true;
    },
    confirm(valuel) {
      console.log(valuel);
      this.region[0] = valuel[0].name;
      this.region[1] = valuel[1].name;
      this.isshow = false;
    },
    server() {
      this.search();
      this.$router.push("/address_secondary");
    },
    async search() {
      let data = await this.$req(window.api.search, {
        pageNo: 1,
        pageSize: 10
        //         industryId:,
        //         province:,
        //         city:,
        //         demandId:,
        //         name:,
      });
    },
    switcher(index) {
      if (this.checkedGroup.indexOf(index) > -1) {
        var spliceIndex = this.checkedGroup.indexOf(index);
        this.checkedGroup.splice(spliceIndex, 1);
      } else {
        if (this.checkedGroup.length <= 2) {
          if (this.checkedGroup.indexOf(index) == -1) {
            this.checkedGroup.push(index); //实现第一种效果只需要这句代码  实现第二种效果就要加上外面的判断条件
            console.log("123", this.checkedGroup);
          } else {
            var spliceIndex = this.checkedGroup.indexOf(index);
            this.checkedGroup.splice(spliceIndex, 1);
          }
        } else {
          Toast("最多只能选择三个哦！");
        }
      }
    }
  }
};
</script>
